* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.social-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* Navigation */
nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00c3ff;
}


/* Layout */
.container {
    display: flex;
    padding: 20px;
}

/* Sidebar */
aside {
    width: 25%;
    background: rgb(165, 163, 163);
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-right: 20px;
}


/* Main */
main {
    width: 75%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 18px;
    width: 32%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}


.card img {
    width: 100%;
    margin: 10px 0;
}

/* Footer */
footer {
    background-color: #111;
    color: #bbb;
    text-align: center;
    padding: 18px;
    margin-top: 40px;
    font-size: 14px;
}
